{% extends 'account/layout.html.twig' %}

{% block accountBody %}
	<div class="container mx-auto p-8 bg-white shadow-md rounded-md">
		<h1 class="text-2xl font-bold mb-6">Mes candidatures</h1>

		{% if applications|length > 0 %}
			<table class="w-full border-collapse border border-gray-300">
				<thead>
					<tr class="bg-gray-200">
						<th class="border border-gray-300 px-4 py-2">Offre</th>
						<th class="border border-gray-300 px-4 py-2">Entreprise</th>
						<th class="border border-gray-300 px-4 py-2">Date de candidature</th>
						<th class="border border-gray-300 px-4 py-2">Statut</th>
						<th class="border border-gray-300 px-4 py-2">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for application in applications %}
                    <tr class="hover:bg-gray-100"></tr>
							<td class="border border-gray-300 text-center px-4 py-2">{{ application.offer.name }}</td>
							<td class="border border-gray-300 text-center px-4 py-2">{{ application.offer.company.name }}</td>
							<td class="border border-gray-300 text-center px-4 py-2">{{ application.createdAt|date('d/m/Y') }}</td>
							<td class="border border-gray-300 text-center px-4 py-2">
							{% if application.deletedAt is empty %}
								<span class="px-2 py-1 rounded-lg text-sm font-medium bg-yellow-600 text-yellow-300">Envoyé</span>
							{% else %}
								<span class="px-2 py-1 rounded-lg text-sm font-medium bg-red-600 text-red-300">Désisté</span>
							{% endif %}
							</td>
							<td class="border border-gray-300 text-center px-4 py-2">
								<a href="{{ path('app_offer_detail', { id: application.offer.id, type: application.offer.type }) }}" class="text-blue-600 hover:underline">Détails</a>
								{% if application.deletedAt is empty %}
									<a href="{{path('app_student_application_delete', {id: application.id})}}" class="text-red-600 text-center px-4 py-2">Se désister</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p class="text-gray-500">Aucune candidature pour le moment.</p>
		{% endif %}
	</div>
{% endblock %}

