{% extends 'base.html.twig' %}

{% block title %}Trouve Ta Boîte - Bienvenue{% endblock %}

{% block body %}
<section class="bg-[#eff6ff] pt-16">
    <div class="container flex justify-between mx-auto">
    <div class="px-6">
        <h1 class="text-6xl font-bold mb-6 max-w-2/3 ">
            Trouver un stage n’aura jamais été <br />
            <span class="text-blue-600">aussi facile !</span>
        </h1>
        <p class="text-lg text-gray-700 mb-4">
            Trouvez les offres de stage ou d’alternance près de chez vous qui correspondent
            à votre profil et à vos attentes.
        </p>
        <p class="text-gray-800 text-lg font-semibold">
            <span class="text-blue-600 font-bold">{{ countStages }}</span> offres de <strong>stages</strong> | 
            <span class="text-blue-600 font-bold">{{ countAlternances }}</span> offres <strong>d’alternance</strong> n’attendent que vous !
        </p>
    </div>
    <img src="{{ asset('build/images/home-hero-boy.png') }}" alt="Hero boy" class="max-h-[400px]">
    </div>
</section>

<section class="py-12 bg-white">
    <div class="container mx-auto text-center">
        <h3 class="text-2xl font-bold text-gray-800 mb-8">Entreprises à la une</h3>
        <div class="flex justify-center items-center space-x-6">
            <img src="{{ asset('images/vodafone.png') }}" alt="Vodafone" class="h-12">
            <img src="{{ asset('images/intel.png') }}" alt="Intel" class="h-12">
            <img src="{{ asset('images/tesla.png') }}" alt="Tesla" class="h-12">
            <img src="{{ asset('images/amd.png') }}" alt="AMD" class="h-12">
            <img src="{{ asset('images/talkit.png') }}" alt="Talkit" class="h-12">
        </div>
    </div>
</section>
{% endblock %}
