{% extends 'base.html.twig' %}

{% block body %}
	<div class="flex flex-col bg-gray-200">
		<div class="container mx-auto my-13">
			<div class="p-6 border border-gray-300 bg-white">
				<div class="flex justify-between items-center">
					<div class="flex items-center">
						<img alt="" src="{{ asset('build/images/uploads/company/' ~ offer.company.logo) }}" class="w-16 h-16 object-contain">
						<div class="ms-6">
							<h1 class="mb-2 font-semibold text-xl">{{ offer.name }}</h1>
							<p class="mb-2 text-lg">
								<span class="font-bold">{{ offer.company.name }}</span>
								•
								{{ offer.company.location }}
								• Du
								{{ offer.startDate|date('d/m/Y') }}
								au
								{{ offer.endDate|date('d/m/Y') }}
								• ({{ offer.duration }}
								jours)
							</p>
							<div class="flex items-center pt-2">
								<div class="pr-2">
									<span class="px-4 py-2 bg-[#f8f8fd] rounded-xl text-blue-dark text-blue-700 capitalize">{{ offer.type }}</span>
								</div>
								<div class="flex justify-start items-center flex-wrap gap-2 ml-2">
									{% for category in offer.categories %}
										<span class="px-2 py-1 rounded-lg text-sm font-medium" style="background-color:
																																																																																																												{{ category.color|hex_to_rgba(0.2)}}; color:
																																																																																																												{{ category.color }};">
											{{ category.name }}
										</span>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					{% if app.user is not null and app.user.userTypeString is same as 'Etudiant' %}
						<div class="flex gap-x-8">
							{% if hasApplied %}
								<div class="text-green-600 font-bold">
									Vous avez déjà postulé à cette offre.
								</div>
							{% else %}
							<div class="flex items-center text-white font-bold bg-blue-600 hover:bg-blue-700 transition">
								<a href="{{ path('app_offer_apply', { id: offer.id, type: offer.type }) }}" class="px-14 py-4">Postuler</a>
							</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="mt-14 pb-18 border-b container mx-auto flex ">
		<div class="w-2/3 mr-16">
			<div class="mb-10">
				{% if offer.type is same as('stage') %}
					<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">A propos de ce stage</h2>
				{% else %}
					<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">A propos de cette alternance</h2>
				{% endif %}
				<p>{{offer.description}}</p>
			</div>

			<div class="mb-10">
				<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">Missions</h2>
				<ul class="list-img-check">
					{% for mission in offer.missionList %}
						<li class="ms-8">{{ mission }}</li>
					{% else %}
						<li class="ms-8">Aucune mission définie</li>
					{% endfor %}
				</ul>
			</div>

			<div class="mb-10">
				<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">Profil recherché</h2>
				<ul class="list-img-check">
					{% for profileSearched in offer.profileSearchedList %}
						<li class="ms-8">{{ profileSearched }}</li>
					{% else %}
						<li class="ms-8">Aucun profil recherché défini</li>
					{% endfor %}
				</ul>
			</div>

			{% if hasApplied %}
				<div class="text-green-600 font-bold">
					Vous avez déjà postulé à cette offre.
				</div>
			{% else %}
				{% if app.user is not null and app.user.userTypeString is same as 'Etudiant' %}
					<div class="flex gap-x-8">
						<div class="flex items-center text-white font-bold bg-blue-600 hover:bg-blue-700 transition">
							<a href="{{ path('app_offer_apply', { id: offer.id, type: offer.type }) }}" class="px-14 py-4">Postuler</a>
						</div>
					</div>
				{% endif %}
			{% endif %}



		</div>
		<div class="w-1/3">
			<div class="pb-10">
				<div class="flex flex-col gap-y-6 justify-between">
					<div class="flex justify-between">
						<span>Type d’offre</span>
						<span class="font-semibold capitalize text-blue-dark">{{offer.type}}</span>
					</div>
					<div class="flex justify-between">
						<span>Postulet avant le
						</span>
						<span class="font-semibold capitalize text-blue-dark">{{offer.maxApplyDate|date('d/m/Y')}}</span>

					</div>
					<div class="flex justify-between">
						<span>Offre publiée le</span>
						<span class="font-semibold capitalize text-blue-dark">{{offer.createdAt|date('d/m/Y')}}</span>
					</div>
					<div class="flex justify-between">
						<span>Gratification</span>
						{% if offer.type is same as('stage') %}
							{% if offer.salary is not empty %}
								<span class="font-semibold text-blue-dark">{{offer.salary}}€/mois</span>
							{% elseif offer.duration > 44 %}
								<span class="font-semibold text-blue-dark">Obligatoire</span>
							{% else %}
								<span class="font-semibold text-blue-dark">Non obligatoire</span>
							{% endif %}
						{% elseif offer.salary is not empty %}
							<span class="font-semibold text-blue-dark">{{offer.salary}}€/mois</span>
						{% else %}
							<span class="font-semibold text-blue-dark">Non renseigné</span>
						{% endif %}
					</div>
					<div class="flex justify-between">
						<span>Candidatures déposées</span>
						<span class="font-semibold text-blue-dark">{{applicationsCount}}</span>
					</div>
					{% if hasApplied %}
						<div class="text-green-600 font-bold">
							Vous avez déjà postulé à cette offre.
						</div>
					{% endif %}
				</div>
			</div>

			<div class="py-10 border-t">
				<h2 class="text-blue-dark text-2xl font-semibold mb-6">Profils métiers</h2>
				{% if offer.categories is defined %}
					<div class="flex justify-start items-center flex-wrap gap-2 ms-2">
						{% for category in offer.categories %}
							<span class="px-2 py-1 rounded-lg text-sm font-medium" style="background-color:
																																																																																								{{ category.color|hex_to_rgba(0.2)}}; color:
																																																																																								{{ category.color }};">
								{{ category.name }}
							</span>
						{% else %}
							<span class="ps-4">Non renseigné</span>
						{% endfor %}
					</div>
				{% else %}
					<span class="ps-4">Non renseigné</span>
				{% endif %}
			</div>

			<div class="py-10 border-t">
				<h2 class="text-blue-dark text-2xl font-semibold mb-6">Compétences recherchées</h2>
				{% if offer.skills is defined %}
					<div class="flex flex-wrap justify-start gap-2 ms-2">
						{% for skill in offer.skills %}
							<span class="px-2 py-1 rounded-lg text-sm font-medium bg-blue-100 text-blue-700">{{ skill.name }}</span>


						{% else %}
							<span class="ps-4">Non renseigné</span>
						{% endfor %}
					</div>
				{% else %}
					<span class="ps-4">Non renseigné</span>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="mt-18 container mx-auto">
		<a href="{{ path('app_company_detail', {id: offer.company.id})}}" class="flex flex-row items-center gap-x-8 mb-8">
			<img alt={{offer.company.name}} src="{{ asset('build/images/uploads/company/' ~ offer.company.logo) }}" class="max-w-20"></img>
			<span class="text-2xl font-bold">{{offer.company.name}}</span>
		</a>
		<p class="mb-8">
			{{offer.company.description}}
		</p>
		<a href="{{ path('app_company_detail', {id: offer.company.id})}}">
			En savoir plus sur {{offer.company.name}}
		</a>
	</div>

<div class="mt-16 pb-20 pt-18 last-request-container">
	<div class="container mx-auto">
		<div class="flex flex-row justify-between items-center">
			{% if offer.type is same as('stage') %}
				<h2 class="text-xl font-semibold text-grey-dark">Offres de stage similaires</h2>
			{% else %}
				<h2 class="text-xl font-semibold text-grey-dark">Offres d'alternance similaires</h2>
			{% endif %}
			<a href="{{ path(routeListName)}}" class="text-blue-700">Toutes les offres</a>
		</div>
		<div class="mt-12 mb-18 offer-container">
		
			{% for similarOffer in similarOffers %}
				<a href="{{ path('app_offer_detail', {id: similarOffer.id, type:similarOffer.type})}}" class="bg-white offer-card border h-[283px] overflow-hidden justify-between flex flex-col">
					<div class="flex justify-between items-start">
						<img alt={{similarOffer.company.name}} src="{{ asset('build/images/uploads/company/' ~ similarOffer.company.logo) }}" class="object-contain w-12 h-12"></img>
					<span class="px-4 py-2 bg-[#f8f8fd] rounded-xl text-blue-dark text-blue-700 capitalize">{{similarOffer.type}}</span>
				</div>

				<div class="my-2">
					<h3 class="font-semibold text-[18px]">{{similarOffer.name}}</h3>
					<p class="offer-informations text-md text-wrap">{{similarOffer.company.name}}
						•
						{{similarOffer.location}}</p>
				</div>
				<p class="opacity-50 text-md relative txt-elipsis line-clamp-3">{{similarOffer.description}}</p>

				{% if similarOffer.categories is defined and similarOffer.categories|length > 0 %}
					<div class="flex justify-start items-center flex-wrap gap-2">
						{% for category in similarOffer.categories|slice(0, 2) %}
							<span class="px-2 py-1 rounded-lg text-sm font-medium" style="background-color: {{ category.color|hex_to_rgba(0.2) }}; color: {{ category.color }};">
								{{ category.name }}
							</span>
						{% endfor %}

						{% if similarOffer.categories|length > 2 %}
							<span class="px-2 py-1 rounded-lg text-sm font-medium bg-gray-200 text-gray-800">
								+{{ similarOffer.categories|length - 2 }}
							</span>
						{% endif %}
					</div>
				{% endif %}

			</a>
		{% endfor %}
	</div>
</div></div>{% endblock %}
