{% extends 'base.html.twig' %}

{% block body %}
	<div class="flex flex-col bg-gray-200">
		<div class="container mx-auto my-13">
			<div class="p-6 border border-gray-300 bg-white">
				<div class="flex justify-between items-center">
					<div class="flex items-center">
						<img alt="" src="{{ asset('build/images/uploads/' ~ offer.company.logo) }}" class="w-16 h-16 object-contain">
						<div class="ms-6">
							<h1 class="mb-2 font-semibold text-xl">{{ offer.name }}</h1>
							<p class="mb-2 text-lg">
								<span class="font-bold">{{ offer.company.name }}</span>
								•
								{{ offer.company.location }}
								• Du
								{{ offer.startDate|date('d/m/Y') }}
								au
								{{ offer.endDate|date('d/m/Y') }}
								• ({{ offer.duration }}
								jours)
							</p>
							<div class="flex items-center pt-2">
								<div class="pr-2">
									<span class="px-4 py-2 bg-[#f8f8fd] rounded-xl text-blue-dark text-blue-700 capitalize">{{ offer.type }}</span>
								</div>
								<div class="flex justify-start items-center flex-wrap gap-2 ml-2">
									{% for category in offer.categories %}
										{{dump(category)}}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					{% if app.user is not null and app.user.userTypeString is same as 'Etudiant' %}
						<div class="flex gap-x-8">
							<div class="flex items-center text-white font-bold bg-blue-600 hover:bg-blue-700 transition">
								<a href="{{ path('app_offer_apply', { id: offer.id, type: offer.type }) }}" class="px-14 py-4">Postuler</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="mt-14 pb-18 border-b container mx-auto flex ">
		<div class="w-2/3 mr-16">
			<div class="mb-10">
				{% if offer.type is same as('stage') %}
					<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">A propos de ce stage</h2>
				{% else %}
					<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">A propos de cette alternance</h2>
				{% endif %}
				<p>{{offer.description}}</p>
			</div>

			<div class="mb-10">
				<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">Missions</h2>
				<ul class="list-img-check">
					{% for mission in offer.missionList %}
						<li class="ms-8">{{ mission }}</li>
					{% else %}
						<li class="ms-8">Aucune mission définie</li>
					{% endfor %}
				</ul>
			</div>

			<div class="mb-10">
				<h2 class="font-semibold mb-4 text-[32px] text-grey-dark">Profil recherché</h2>
				<ul class="list-img-check">
					{% for profileSearched in offer.profileSearchedList %}
						<li class="ms-8">{{ profileSearched }}</li>
					{% else %}
						<li class="ms-8">Aucun profil recherché défini</li>
					{% endfor %}
				</ul>
			</div>

			{% if app.user is not null and app.user.userTypeString is same as 'Etudiant' %}
				<div class="flex gap-x-8">
					<div class="flex items-center text-white font-bold bg-blue-600 hover:bg-blue-700 transition">
						<a href="{{ path('app_offer_apply', { id: offer.id, type: offer.type }) }}" class="px-14 py-4">Postuler</a>
					</div>
				</div>
			{% endif %}

		</div>
		<div class="w-1/3">
			<div class="pb-10">
				<div class="flex flex-col gap-y-6 justify-between">
					<div class="flex justify-between">
						<span>Type d’offre</span>
						<span class="font-semibold capitalize text-blue-dark">{{offer.type}}</span>
					</div>
					<div class="flex justify-between">
						<span>Postulet avant le
						</span>
						<span class="font-semibold capitalize text-blue-dark">{{offer.maxApplyDate|date('d/m/Y')}}</span>

					</div>
					<div class="flex justify-between">
						<span>Offre publiée le</span>
						<span class="font-semibold capitalize text-blue-dark">{{offer.createdAt|date('d/m/Y')}}</span>
					</div>
					<div class="flex justify-between">
						<span>Gratification</span>
						{% if offer.type is same as('stage') %}
							{% if offer.duration > 44 %}
								<span class="font-semibold text-blue-dark">Obligatoire</span>
							{% else %}
								<span class="font-semibold text-blue-dark">Non obligatoire</span>
							{% endif %}
						{% elseif offer.salary is defined %}
							<span class="font-semibold text-blue-dark">{{offer.salary}}€</span>
						{% else %}
							<span class="font-semibold text-blue-dark">Non renseigné</span>
						{% endif %}
					</div>
					<div class="flex justify-between">
						<span>Candidatures déposées</span>
						<span class="font-semibold text-blue-dark">{{applicationsCount}}</span>

					</div>
				</div>
			</div>

			<div class="py-10 border-t">
				<h2 class="text-blue-dark text-2xl font-semibold mb-6">Compétences recherchées</h2>
				{% if offer.categories is not empty %}
					<div class="flex flex-wrap justify-start gap-2">
						{offer.skills.map((skill) => (
						<Skill skill={skill}/>
						))}
					</div>
				{% else %}
					<span class="ps-4">Non renseigné</span>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="mt-18 container mx-auto">
		<div
			class="flex flex-row items-center gap-x-8">
			{# <a href="{{ path('app_company_detail', {id: offer.company.id})}}"> #}
			<img alt={{offer.company.name}} src="{{ asset('build/images/uploads/' ~ offer.company.logo) }}" class="max-w-20 mb-8"></img>
		<span>{{offer.company.name}}</span>
		{# </a> #}
	</div>
	<p class="mb-8">
		{{offer.company.description}}
	</p>
	<a href="{{ path('app_stage_list', {id: offer.company.id})}}" class="text-blue-700 flex items-center font-semibold mt-6">En savoir plus sur
		{{offer.company.name}}
	</a>
</div>

<div class="mt-16 pb-20 pt-18 last-request-container">
	<div class="container mx-auto">
		<div class="flex flex-row justify-between items-center">
			{% if offer.type is same as('stage') %}
				<h2 class="text-xl font-semibold text-grey-dark">Offres de stage similaires</h2>
			{% else %}
				<h2 class="text-xl font-semibold text-grey-dark">Offres d'alternance similaires</h2>
			{% endif %}
			<a href="{{ path(routeListName)}}" class="text-blue-700">Toutes les offres</a>
		</div>
		<div class="mt-12 mb-18 offer-container">
			{% for similarOffer in similarOffers %}
				<a href="" class="bg-white offer-card border h-[283px] overflow-hidden justify-between flex flex-col">
					<div class="flex justify-between items-start">
						<img alt={{similarOffer.company.name}} src="{{ asset('build/images/uploads/' ~ similarOffer.company.logo) }}" class="object-contain w-12 h-12"></img>
					<span class="px-4 py-2 bg-[#f8f8fd] rounded-xl text-blue-dark text-blue-700 capitalize">{{similarOffer.type}}</span>
				</div>

				<div class="my-2">
					<h3 class="font-semibold text-[18px]">{{similarOffer.name}}</h3>
					<p class="offer-informations text-md text-wrap">{{similarOffer.company.name}}
						•
						{{similarOffer.location}}</p>
				</div>
				<p class="opacity-50 text-md relative txt-elipsis">{{similarOffer.description}}</p>
			</a>
		{% endfor %}
	</div>
</div></div>{% endblock %}
